/* GENERAL */
/* ------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
  max-height: 100%;
}
/* ------------------------------- */


/* UTILITY */
/* ------------------------------- */
.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
/* ------------------------------- */

/* Body Background */
body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgb(0, 150, 136) 10%, hwb(60 82% 14%) 10%); 
}

#app{
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER */
.main-container{
  background-color: white;
  width: 80%;
  height: 95%;

  display: flex;
}

/* ASIDE */
/* ------------------------------- */
.aside{
  background-color: #fff;
  width: 35%;
  min-width: 300px;
}

/* User */
/* ------------------------------- */
.user-data{
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-user{
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-user{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 8px;

  font-size: 1.3rem;
  color: #b1b1b1;
}
/* User END ------------------------------- */

/* Notification Setting */
.notification-setting{
  background-color: #8edafc;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.notification-setting .icon{
  background-color: white;
  color: #8edafc;
  line-height: 50px;
  text-align: center;
  font-size: 1.3rem;
  flex-shrink: 0;
}

.notification-setting a{
  font-size: 0.8rem;
  color: #537b8e;
}
/* Notification Setting END ------------------------------- */

/* Filter Chat */
.filter-container{
  background-color: #fafafa;
  padding: 8px;
}

.filter-chat{
  background-color: white;
  padding: 4px;
  border-radius: 8px;
}

.filter-chat .fa-magnifying-glass{
  color: #b1b1b1;
  width: 50px;
  text-align: center;
  font-size: 1.1rem;
  vertical-align: middle;
}

.filter-chat input,
.send-message input{
  width: calc(100% - 50px);
  border: none;
  line-height: 2rem;
  padding: 0 8px;
}
/* Filter Chat END ------------------------------- */
.chat-list{
  height: calc(100% - 196px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat{
  /* height: calc(100% - 200px); */
  
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
}

.chat:hover{
  background-color: #e9ebeb;
}

.chat-left{
  display: flex;
  gap: 8px;
}

.chat .user-name{
  font-size: 1.1rem;
}
.chat .text{
  color: #bbc1cf;
  font-size: 0.8rem;
}

/* ASIDE END ------------------------------- */

/* CONTENT */
.content{
  width: 75%;
  min-width: 518px;
  border-left: 1px solid #d6d6d6;
}

.content .user-data .info .text{
  font-size: 0.85rem;
  color: #b1b1b1;
}

.content-chat{
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);

  overflow-y: scroll;
  padding: 60px 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Message */
.message{
  width: 300px;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;

  position: relative;
}

.message-out{
  background-color: #d5f9ba;
  align-self: flex-end;
}
.message-in{
  background-color: white;
  align-self: flex-start;
}

.message .time{
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 0.7rem;
  color: #b1b1b1;
}

/* Send Message */
.send-message{
  height: 70px;
  padding: 10px 30px;
  font-size: 1.3rem;

  background-color: #f3eeea;
  color: #6b7376;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
/* CONTENT END --------------------------------*/