:root{
  /* LIGHT STYLE */
  --bg-chat-light: #e5ddd5;
  --text-chat-light: #000000;
  
  --bg-message-send-light: #d5f9ba;
  --bg-message-received-light: #ffffff;

  --bg-top-bottom-light: #eaeaea;

  --aside-light: #ffffff;
  --filter-container-light: #fafafa;
  --bg-chat-active-light: #e9ebeb;

  --bg-notification-light: #8edafc;

  /* DARK STYLE */
  --bg-chat-dark: rgb(11, 20, 26);
  --text-chat-light: #ffffff;
  --text-chat-light-rgb: (255, 255, 255);

  --bg-message-send-dark: #005c4b;
  --bg-message-received-dark: #202c33;

  --bg-top-bottom-dark: #202c33;

  --aside-dark: #111b21;
  --filter-container-dark: #111b21;
  --bg-chat-active-dark: #2a3942;

  --bg-notification-dark: #4e5e68;
}

/* GENERAL */
/* ------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
  max-height: 100%;
}
/* ------------------------------- */


/* UTILITY */
/* ------------------------------- */
.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
/* ------------------------------- */

/* Body Background */
body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgb(0, 150, 136) 10%, hwb(60 82% 14%) 10%); 
}

#app{
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#app .dark{
  color: white;
}

/* MAIN CONTAINER */
.main-container{
  width: 80%;
  height: 95%;
  
  display: flex;
  
  border-radius: 8px;
  overflow: hidden;

  background-color: white;
  box-shadow:0 0 4px 0px rgba(0, 0, 0, 0.4);
}

/* ASIDE */
/* ------------------------------- */
.aside{
  background-color: var(--aside-light);
  width: 35%;
  min-width: 300px;
}

.dark .aside{
  background-color: var(--aside-dark);
}

/* User */
/* ------------------------------- */
.user-data{
  background-color: var(--bg-top-bottom-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  position: relative;
}

.dark .user-data{
  background-color: var(--bg-top-bottom-dark);
}

.left-user{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.right-user{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 8px;

  font-size: 1.3rem;
}
/* User END ------------------------------- */

/* Notification Setting */
.notification-setting{
  background-color: var(--bg-notification-light);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dark .notification-setting{
  background-color: var(--bg-chat-active-dark);

}

.notification-setting .icon{
  background-color: white;
  color: #8edafc;
  line-height: 50px;
  text-align: center;
  font-size: 1.3rem;
  flex-shrink: 0;
}

.dark .notification-setting .icon{
  color: var(--bg-chat-active-dark);
}

.notification-setting a{
  font-size: 0.8rem;
  color: #537b8e;
}
/* Notification Setting END ------------------------------- */

/* Filter Chat */
.filter-container{

  background-color: var(--filter-container-light);
  padding: 8px;
}

.dark .filter-container{
  background-color: var(--filter-container-dark);
}

.filter-chat{
  background-color: white;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
}

.dark .filter-chat{
  background-color: var(--bg-top-bottom-dark);
}

.filter-chat .fa-magnifying-glass{
  color: #b1b1b1;
  width: 50px;
  text-align: center;
  font-size: 1.1rem;
  vertical-align: middle;
}

.filter-chat input,
.send-message input{
  width: 100%;
  border: none;
  line-height: 2rem;
  padding: 0 8px;
  border-radius: 8px;
}

.dark .filter-chat input{
  background-color: var(--bg-top-bottom-dark);
  color: white;
}

.dark .send-message input{
  background-color: var(--bg-chat-active-dark);
  color: white;
}


/* Filter Chat END ------------------------------- */
.chat-list{
  height: calc(100% - 196px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
  position: relative;
}

.chat .padding{
  padding: 10px;
}

.chat:hover,
.chat.active{
  background-color: var(--bg-chat-active-light);
}

.dark .chat:hover,
.dark .chat.active{
  background-color: var(--bg-chat-active-dark);
}

.chat-left{
  display: flex;
  gap: 8px;
}

.chat .user-name{
  font-size: 1.1rem;
}
.chat .text{
  color: #bbc1cf;
  font-size: 0.8rem;
}

.chat-right .text{
  position: absolute;
  top: 8px;
  right: 8px;
}

/* ASIDE END ------------------------------- */

/* CONTENT */
.content{
  width: 75%;
  min-width: 450px;
  border-left: 1px solid #d6d6d6;
}

.content .user-data .info .text{
  font-size: 0.85rem;
  color: #b1b1b1;
}

.content-chat{
  height: calc(100% - 140px);

  background-color: var(--bg-chat-light);
  background-image: url(../img/bg-chat-tile-dark.png);

  overflow-y: scroll;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark .content-chat{
  background-color: var(--bg-chat-dark);
}

/* Message */
.message{
  width: 300px;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;

  position: relative;
}

.message-out{
  background-color: var(--bg-message-send-light);
  align-self: flex-end;
}

.dark .message-out{
  background-color: var(--bg-message-send-dark);
}

.message-in{
  background-color: var(--bg-message-received-light);
  align-self: flex-start;
}

.dark .message-in{
  background-color: var(--bg-message-received-dark);
}

.message .time{
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 0.7rem;
  color: #b1b1b1;
}

.message .fa-chevron-down{
  opacity: 0;
  cursor: pointer;

  position: absolute;
  top: 4px;
  right: 8px;
  
  transition: 0.3s;
}

.message:hover .fa-chevron-down{
  opacity: 1;
}

/* Dropdown */
.dropdown{
  background-color: var(--bg-chat-light);
  box-shadow:0 0 4px 0px rgba(0, 0, 0, 0.4);

  padding: 8px;
  border-radius: 8px;

  position: absolute;
  top: 24px;
  right: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 8px;  

  font-size: 1rem;
}

.user-data .dropdown{
  top: 55px;
  right: 18px;
}

.dark .dropdown{
  background-color: var(--bg-chat-dark);
}

.dropdown p{
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown p:hover{
  background-color: var(--bg-chat-active-light);
}

.dark .dropdown p:hover{
  background-color: var(--bg-chat-active-dark);
}

/* Send Message */
.send-message{
  height: 70px;
  padding: 8px 16px;
  font-size: 1.3rem;

  background-color: var(--bg-top-bottom-light);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.dark .send-message{
  background-color: var(--bg-top-bottom-dark);
}

/* CONTENT END --------------------------------*/

/* ScrollBar style */
/* ------------------------------- */
::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(11,20,26,0.2);
}

.dark ::-webkit-scrollbar-thumb{
  background-color: rgba(255,255,255,0.16);
}

::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.1);
}

.dark ::-webkit-scrollbar-track{
  background-color: initial;
}
/* ------------------------------- */

/* TOGGLE THEME */
.toggle{
  background-color: white;
  border-radius: 16px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dark .toggle{
  background-color: var(--aside-dark);
} 

.toggle .fa-sun,
.toggle .fa-moon{
  opacity: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  line-height: 24px;
  text-align: center;
  font-size: 0.8rem;

  transition: opacity 0.2s, transform 0.5s;
}

.fa-sun{
  transform: translateX(30px);
}

.fa-moon{
  transform: translateX(-30px);
}

.toggle .fa-sun.active{
  transform: translateX(-2px);
  opacity: 1;
  color: white;
  background-color: var(--aside-dark);
}

.toggle .fa-moon.active{
  transform: translateX(2px);
  opacity: 1;
  color: var(--aside-dark);
  background-color: white;
}
/* ------------------------------- */

/* ------------------------------- */
.loading::after{
  content: "";
  animation: loading-text 2s infinite;
}

@keyframes loading-text{
  0% { content: ""}
  25% {content: "."}
  50% {content: ".."}
  75% {content: "..."}
}
/* ------------------------------- */

/* Hover icon */
/* ------------------------------- */
.fa-solid:not(.notification-setting .fa-solid, .toggle .fa-solid, .message .fa-solid),
.fa-face-smile{
  color: #b1b1b1;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.fa-solid:not(.notification-setting .fa-solid, .toggle .fa-solid, .message .fa-solid):hover,
.fa-face-smile:hover{
  color: #727272;
  background-color: #b1b1b1;
}
/* ------------------------------- */


